html {
  width: 1100px;
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}



.jumbotron{
  height: 30rem;
  width: 1080px;
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
}

/*top navigation bar*/
.topnav {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 960px;
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  background-color: cadetblue;
  border: 3px dotted pink; /*border guard*/
}
.topnav img {}

.maintitle {
  font-size: 1rem;
}

/*white box inside of jumbotron*/
.jumboitem {
  height: 7rem;
  width: 30rem;
  top: 25%;
  right: 25%;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
  font-family: Helvetica;
  background-color: white;
  border: 3px dotted pink; /*border guard*/
}
/*Area below jumbo tron with 3 flex box items*/
.maincontentbox {
  display: flex;
  height: 16rem;
  width: 960px;
  left: 5%;
  position: absolute;
  background-color: grey;
  border: 3px dotted pink; /*border guard*/
}
.flexbox {
  height: 16rem;
  width: 320px;
  background-color: white;
  border: 3px dotted blue; /*border guard*/
}
/*EXAM*/
.flexbox#exam img { /*first flex box -Exams*/
  margin-top: 3rem;
  margin-left: 5rem;
  background-color: white;
  border: 3px dotted red; /*border guard*/
}
.flexbox#exam p { /*first flex box -Exams*/
  margin-left: 3.75rem;

}
/*FITTING*/
.flexbox#fittings img { /*second flex box -fitting*/
  margin-top: 3rem;
  margin-left: 5rem;
  background-color: white;
  border: 3px dotted yellow; /*border guard*/
}
/*DELIVERY*/
.flexbox#delivery img { /*third flex box -delivery*/
  margin-top: 3rem;
  margin-left: 5rem;
  background-color: white;
  border: 3px dotted green; /*border guard*/
}
/*Philosophy and Appointments*/
.whitephilandap {
  height: 16rem;
  width: 1080px;
  background-color: grey;
  border: 3px dotted pink;

}
/*Footer Footer Footer*/
.footer {
  height: 14.5rem;
  width: 1080px;
  background-color: pink;
  border: 3px dotted gray;
}
