html {
  width: 1200px;
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}
nav {
  width: 300px;
}


/*top navigation bar*/
.topnav {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 960px;
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  background-color: cadetblue;
}
.topnav img { /*image of glasses*/
  display: block;
  margin-left: 2rem;
  height: 2rem;
  width: 100px;
  border: 3px dotted blue;
}

.TOtext { /*Tortoiseshell Optics*/
  display: block;
  height: 4rem;
  width: 150px;
  margin-left: 2rem;
  font-size: 1rem;
  border: 3px dotted gray;
}

.menu nav { /*Services Products Contact*/
  display: flex;
  margin-left: 330px;
  list-style-type: none;
  justify-content: space-between;
}

.menu nav li { /*Services Products Contact*/
  margin-left: 10px
}
/*jumbotron*/
.jumbotron {
  display: flex;
  height: 30rem;
  width: 1080px;
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
}

/*white box inside of jumbotron*/
.jumboitem {
  height: 100px;
  width: 400px;
  margin-top: 250px;
  margin-left: 650px;
  line-height: 1.2;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica;
  background-color: white;
}
/*Area below jumbotron with 3 flex box items*/
.maincontentbox {
  display: flex;
  padding-left: 50px;
  height: 16rem;
  width: 960px;
}
.flexbox {
  height: 16rem;
  width: 320px;
  background-color: white;
}
/*EXAM*/
.flexbox#exam img { /*first flex box -Exams*/
  margin-top: 3rem;
  margin-left: 5rem;
  background-color: white;
}
.flexbox#exam p { /*first flex box -Exams*/
  text-align: center;

}
/*FITTING*/
.flexbox#fittings img { /*second flex box -fitting*/
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.flexbox#fittings p { /*second flex box -fitting*/
  margin-top: 5.7rem;
  text-align: center;
}
/*DELIVERY*/
.flexbox#delivery img { /*third flex box -delivery*/
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.flexbox#delivery p { /*third flex box -delivery*/
  margin-top: 4.0rem;
  text-align: center;
}
/*Philosophy and Appointments*/
.philandapp {
  height: 16rem;
  width: 1080px;
  background-color: grey;
}
/*Philosophy*/
.philosophy { /*White box*/
  height: 16rem;
  width: 540px;
  background-color: white;
  border: 3px dotted red;
}
.philtitle{ /*title*/
  height: 1.5rem;
  width: 35%;
  color: white;
  background-color: cadetblue;
}
/*Appointments*/
/*Footer Footer Footer*/
.footer {
  display: flex;
}
.footericon {
  height: 14.5rem;
  width: 960px;
  background-color: white;
  border: 3px dotted gray;
}
.footericon img {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-top: 7rem;
  border: 1px dotted blue;

}
